<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">

        <h1 (click)="goHomePage()">Daniel Arastell</h1>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about-me" routerLinkActive="active">{{getText('Sobre mi','About me')}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/projects" routerLinkActive="active">{{getText('Proyectos','Projects')}}</a>
                </li>
                <li class="nav-item dropdown">
                <button class="btn dropdown-toggle nav-link" type="button" id="dropdownIdioma" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../../../img/language.png" alt="">
                    {{getText('Idioma','Language')}}
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownIdioma">
                    <li>
                        <p class="dropdown-item" data-lang="es" (click)="toggleLanguage('es')">Español</p>
                    </li>

                    <li>
                        <p class="dropdown-item" data-lang="en"  (click)="toggleLanguage('en')">English</p>
                    </li>
                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link button-style" routerLink="/contact" routerLinkActive="active">{{getText('Contacto','Contact')}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
