<div class="gradient-background-general">
  <div class="translucid-container-general">
    <app-header></app-header>
    <div class="container">

      <div class="row">
        <div class="col-md-12 first-col d-flex justify-content-center">
          <div id="infoContainer">
            <h1>ABOUT ME</h1>
            <p>
              I am a web developer with a background in IT systems. I hold a Technician degree 
              in Microcomputer Systems and Networks (TSMR) as well as a Web Application Development 
              (DAW) diploma. I consider myself a proactive person, eager to keep learning and growing 
              professionally. Below, I outline some of the technologies and tools I have worked with.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Technical knowledge</h2>
          <div id="contTechnicalknowledge">
            <div id="lineDown"></div>
            @for (item of allItems; track $index) {
            <div class="card" #cardElem
                 [class.left-card]="item.position === 'left'"
                 [class.right-card]="item.position === 'right'"
                 [style.top.px]="$index * 300">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">{{item.key}}</h5>
                  <p class="card-text">{{item.value}}</p>
                </div>
            </div>
            }
          </div>
        </div>
      </div>

      <div class="row">
        <h2>Frameworks</h2>
        <div class="col-md-4">
          <div class="card framework-card">
            <div class="card-body">
              <h5 class="card-title">Bootstrap</h5>
              <p class="card-text">
                I've been using Bootstrap for two years, mainly to quickly build layouts and create 
                responsive designs. Over time, I've learned to take full advantage of the grid system, customize components, 
                and combine it with other frameworks when needed.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card framework-card">
            <div class="card-body">
              <h5 class="card-title">Symfony</h5>
              <p class="card-text">
                I have experience with Symfony, where I've been responsible for developing the backend for several projects, 
                both personal and collaborative. I've mainly worked on building RESTful APIs, managing routes, controllers, 
                and entities, as well as implementing security, authentication, and database connections.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card framework-card" id="lastFrameworkCard">
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">
                My recent projects have focused on Angular, where I feel most confident and experienced due to my strong focus 
                on this framework. I have developed numerous projects, both solo and collaboratively, which has allowed me to 
                master its core concepts and best practices.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
