<div class="gradient-background-general">
  <div class="translucid-container">
    <app-header></app-header>

    <div id="pagePresentation">
        <h1>About the projects</h1>
        <p>
            Throughout my training as a web developer, I’ve worked on different projects that have helped me gain experience 
            with various technologies. In this portfolio, I’m going to show three of them, explaining a bit about what they are, 
            which technologies I used, and how they were carried out. Each project helped me face different challenges and learn 
            new ways to solve problems, which has been key to my professional growth.
        </p>
    </div>
   
  </div>
</div>  