<div class="gradient-background-projects">
  <div class="translucid-container-projects">
    <app-header></app-header>

    <div id="pagePresentation">
        <h1>About the projects</h1>
        <p>
            Throughout my training as a web developer, I’ve worked on different projects that have helped me gain experience 
            with various technologies. In this portfolio, I’m going to show three of them, explaining a bit about what they are, 
            which technologies I used, and how they were carried out. Each project helped me face different challenges and learn 
            new ways to solve problems, which has been key to my professional growth.
        </p>
    </div>

    <div class="container">
      <div class="row">
        <h2>Projects</h2>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">StockMaster</h5>
                <div class="card-text">
                <p>
                    My latest project is a product management web application where users can have multiple warehouses with their respective products. Based on the stored data, charts are generated automatically, and thanks to the integration of artificial intelligence, it is possible to create any kind of custom chart.
                </p>
                <p>
                    Additionally, it features an AI-powered chat system that allows users to ask questions about how the site works or to inquire about product-related information, such as available stock, the most expensive product, and more.
                </p>
                <p>
                    One of the main features is the scanner, which enables users to add or remove products from warehouses simply by scanning their barcodes.
                </p>
                </div>
                <button class="btn btn-primary" (click)="showHiddenCard('StockMaster')">Learn more</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Alicia Estetica</h5>
                <div class="card-text">
                <p>
                    This was a group project consisting of a website for an aesthetic clinic.  
                    One of its main features is the product store, where administrators can add new products.
                </p>
                <p>
                    It also includes a booking form that only allows selecting available days and times.  
                    Once another user has booked an appointment with a professional at a specific date and time, that slot becomes unavailable.
                </p>
                <p>
                    Finally, the homepage displays all the services offered by the clinic, organized clearly and accessibly for users.
                </p>
                </div>
                <button class="btn btn-primary" (click)="showHiddenCard('AliciaEstetica')">Learn more</button>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">EcoBuddy</h5>
                <div class="card-text">
                <p>
                    This project was developed as a team. It is a social network aimed at encouraging people to take positive actions for the environment.
                </p>
                <p>
                    Users can join activities such as trash collection, tree planting, and many other community-driven initiatives. It also features a rewards system that motivates continued participation in these activities.
                </p>
                <p>
                    The ultimate goal of this social network is to promote these kinds of actions and raise awareness about the importance of taking care of the environment.
                </p>
                </div>
                <button class="btn btn-primary" (click)="showHiddenCard('EcoBuddy')">Learn more</button>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        @if (showProjectCard === "StockMaster") {
        <div class="col-md-12">
           <div class="card technologies-card">
            <div class="card-body" id="StockMasterInfo">
              <h5 class="card-title">StockMaster -- Inventory Manager</h5>
                <div class="card-text">
                <p>
                    This was my final project for DAW, to which I dedicated a lot of time and from which I learned a great deal. I used multiple libraries and APIs, and deepened my knowledge in technologies I was already familiar with, such as Angular and Symfony.
                </p>
                <p>
                    A standout feature of this project is the use of AI. Thanks to this, I developed an intelligent notification panel that alerts the user to any issues—from simple errors like a misspelled name in the database to more critical problems like low stock or inconsistent prices. Additionally, I implemented a chatbot with access to all user data, capable of answering questions related to the products, as well as an AI-powered chart generation system. The user simply specifies the desired chart, and the system automatically generates it based on the stored data.
                </p>
                <p>
                    For this project, I used the following technologies:
                </p>
                <ul>
                    <li><strong>Symfony:</strong> I handled the backend, creating a RESTful API that connects with the frontend and manages all the logic and database interactions.</li>
                    <li><strong>Angular:</strong> The entire frontend was developed in Angular. I used libraries such as <code>chart.js</code>, <code>zxing/ngx-scanner</code> for barcode scanning, <code>OpenLayers</code> for interactive maps, among others. I also integrated the DeepSeek API for AI functionalities.</li>
                    <li><strong>HTML/CSS:</strong> Used to structure and style the interface components.</li>
                    <li><strong>Bootstrap:</strong> Allowed me to quickly create a well-structured, responsive website.</li>
                    <li><strong>AWS:</strong> I utilized AWS services to deploy and host the application in production.</li>
                    <li><strong>MySQL:</strong> Used MySQL to create the database.</li>
                </ul>
                </div>
              
            <div class="technologies-used">
                <span class="badge me-2" style="background-color: #5bbbe1;">Symfony</span>         
                <span class="badge me-2" style="background-color: #dd0031;">Angular</span>       
                <span class="badge me-2" style="background-color: #e34c26;">HTML</span>           
                <span class="badge me-2" style="background-color: #264de4;">CSS</span>            
                <span class="badge me-2" style="background-color: #563d7c;">Bootstrap</span>       
                <span class="badge me-2" style="background-color: #00758f;">MySQL</span>          
                <span class="badge" style="background-color: #ff9900;">AWS</span>                
            </div>

            </div>
          </div>
        </div>
        } @else if (showProjectCard === "AliciaEstetica") {
            <div class="card technologies-card">
                <div class="card-body" id="AliciaEsteticaInfo">
                    <h5 class="card-title">Alicia Estética -- Sale of products and reservations</h5>
                    <div class="card-text">
                    <p>
                        This was a group project we carried out for an aesthetic clinic. The main focus was to create a well-crafted and visually appealing frontend, as this was the client’s top priority.
                    </p>
                    <p>
                        The website features a store section where users can purchase various available products. It also includes a booking section where you can select the service you want with the employee of your choice. Additionally, there are several informational pages explaining everything the clinic offers.
                    </p>
                    <p>
                        The technologies used in this project were the following:
                    </p>
                    <ul>
                        <li><strong>Symfony:</strong> Used to develop the backend, creating a RESTful API that connects to the database.</li>
                        <li><strong>Angular:</strong> Responsible for the frontend of the application. In this case, we did not use any external libraries.</li>
                        <li><strong>HTML/CSS:</strong> Used to structure and style the entire interface.</li>
                        <li><strong>Bootstrap:</strong> Essential for making the website fully responsive, which was important since many users access it via mobile devices.</li>
                        <li><strong>Docker:</strong> Used to run and contain the application during development.</li>
                        <li><strong>Git:</strong> A crucial tool for team collaboration. Each member worked on their own branch and we integrated changes into <code>main</code>.</li>
                        <li><strong>AWS:</strong> Used to deploy the application in the cloud.</li>
                        <li><strong>MySQL:</strong> Used to manage all the data related to products, clients, and bookings.</li>
                    </ul>
                    </div>

                    <div class="technologies-used">
                    <span class="badge me-2" style="background-color: #5bbbe1;">Symfony</span>
                    <span class="badge me-2" style="background-color: #dd0031;">Angular</span>
                    <span class="badge me-2" style="background-color: #e34c26;">HTML</span>
                    <span class="badge me-2" style="background-color: #264de4;">CSS</span>
                    <span class="badge me-2" style="background-color: #563d7c;">Bootstrap</span>
                    <span class="badge me-2" style="background-color: #0db7ed;">Docker</span>
                    <span class="badge me-2" style="background-color: #f05032;">Git</span>
                    <span class="badge me-2" style="background-color: #00758f;">MySQL</span>
                    <span class="badge" style="background-color: #ff9900;">AWS</span>
                    </div>
                </div>
                </div>
        } @else if(showProjectCard === "EcoBuddy") {
            <div class="card technologies-card">
            <div class="card-body" id="EcoBuddyInfo">
                <h5 class="card-title">EcoBuddy -- Sustainable social network</h5>
                <div class="card-text">
                <p>
                    EcoBuddy was a team project focused on developing a social network aimed at promoting environmentally friendly actions. 
                    Users could share activities such as garbage collection, tree planting, and other sustainable initiatives.
                </p>
                <p>
                    The platform featured a points system, where users earned points after completing each activity based on its duration and difficulty. 
                    Additionally, trophies were implemented as a gamification method to encourage ongoing user participation.
                </p>
                <p>
                    The technologies used in this project were:
                </p>
                <ul>
                    <li><strong>PHP:</strong> The entire project was developed using pure PHP for both backend and frontend, without any frameworks.</li>
                    <li><strong>HTML/CSS:</strong> Used to structure the page and apply custom styling.</li>
                    <li><strong>Git:</strong> Each team member worked on their own branch, and changes were merged into the main branch.</li>
                    <li><strong>Docker:</strong> Used to set up the development environment and run the application in an isolated container.</li>
                    <li><strong>MySQL:</strong> The database was created using MySQL to store all necessary data.</li>
                </ul>
                </div>

                <div class="technologies-used">
                <span class="badge me-2" style="background-color: #8892be;">PHP</span>
                <span class="badge me-2" style="background-color: #e34c26;">HTML</span>
                <span class="badge me-2" style="background-color: #264de4;">CSS</span>
                <span class="badge me-2" style="background-color: #f05032;">Git</span>
                <span class="badge me-2" style="background-color: #00758f;">MySQL</span>
                <span class="badge" style="background-color: #0db7ed;">Docker</span>
                </div>
            </div>
            </div>

        }
        
      </div>

    </div>
   
  </div>
</div>  
