h1 {
  font-family: 'Yeseva One', cursive;
  text-align: center;
  font-size: 100px;
  margin: 0;
}

.gradient-background-confirmPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.translucid-container-confirmPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width:750px){
  h1{
    font-size: 60px;
  }
}
