h1 {
  font-family: 'Yeseva One', cursive;
  text-align: center;
  font-size: 100px;
  margin: 0;
}

.gradient-background-general {
  display: flex;
  align-items: center;
  justify-content: center;
}

.translucid-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
