<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">

        <h1>Daniel Arastell</h1>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about-me" routerLinkActive="active">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link button-style" routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
                <li class="nav-item dropdown">
                <button class="btn dropdown-toggle nav-link" type="button" id="dropdownIdioma" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../../../img/language.png" alt="">
                    Seleccionar idioma
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownIdioma">
                    <li>
                        <a class="dropdown-item" href="#" data-lang="es" (click)="changueLenguage('es')">Español</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#" data-lang="en"  (click)="changueLenguage('en')">English</a>
                    </li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
