.navbar {
    margin-top: 20px;
    margin-left: 20px;
}

nav.navbar {
  position: absolute;
}

h1 {
    font-family: 'Yeseva One', cursive;
    color: #04843c;
    margin-right: 40px;
}

.button-style {
    background-color: #04843c;
    padding: 10px;
    width: 90px;
    border-radius:7px;
    text-align: center;
    color: wheat;
}

.nav-link {
  white-space: nowrap;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: #04843c;
  transform: scale(1.1);
}

.button-style:hover {
  color: white;
}


@media (max-width: 576px) {
nav.navbar {
    position: static; 
  }
}

img {
  width: 20px;
}

